/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* application body styling */
 html, body, .container-fluid, .row , ul{
     height: 100%;
     width: 100%;
 }

 @media (min-width: 992px) {
   .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     z-index: 1000;
     display: block;
     background-color: #CCCCCC;
   }
 }

 @import "bootstrap-sprockets";
 @import "bootstrap";

 /*flash*/
 .alert-error {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
  }

 .alert-alert {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
  }

 .alert-success {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
  }

 .alert-notice {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
  }
/* application lay out CSS */
.page-container{
  margin-left: 15%;
}

.side-bar-container{
  position: fixed;
  background: black;
  height: 100%;
  width: 15%;
  padding-left: 0;
  padding-right: 0;
}

/* side bar container */
ul{
  display: block;

}

li {
  margin-top: 7px;
  margin-bottom: 10px;
  list-style-type: none;
}

.nav{
  margin-left: 15px;
  margin-top: 47px;
}

.navbar-nav > li > a{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 6%;
  width: 100%;
}
/* forms styling */
.form-control{
  display: inline-block;
  width: 50%;
  background-color: #ddd;
}

div.form-inline {
  margin-left: 38px;
  margin-top:  -9px;
  width: 300px;
}

label{
  max-width: 40%;
  margin-left: 5px;
}

li.author-personal-info-form{
  margin-top: -14%;
  margin-left: 30%;

}

#profile_about_me{
  height: 200px;
  width: 300px;
  margin-top: -205px;
  margin-left: -286px;
}

#DOB-container{
  margin-top: 26%;
  margin-left:  1%;
}

#profile_nationality,#profile_first_name,#profile_last_name{
  height: 46px;
  border-radius: 0px;
}

div#profile-page-form{
  padding-left: 10%;
  padding-top:  5%;
}

input#profile_submit{
  margin-top: 2%;
  margin-left: 76%;
}

div#profile-location-form{
  margin-left: 30%;
}
