/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* application body styling */
 html, body, .container-fluid, .row , ul{
     height: 100%;
     width: 100%;
 }

 @media (min-width: 992px) {
   .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     z-index: 1000;
     display: block;
     background-color: #CCCCCC;
   }
 }

 @import "bootstrap-sprockets";
 @import "bootstrap";

 /*flash*/
 .alert-error {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
  }

 .alert-alert {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
     text-align: left;
  }

 .alert-success {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
  }

 .alert-notice {
     background-color: #dff0d8;
     border-color: #d6e9c6;
     color: #468847;
     text-align: left;
  }
/* application lay out CSS */
.page-container{
  margin-left: 15%;
  padding-top: 1%;
}

.side-bar-container{
  position: fixed;
  background: black;
  height: 100%;
  width: 15%;
  padding-left: 0;
  padding-right: 0;
}

/* side bar container */
ul{
  display: block;

}

li {
  margin-top: 7px;
  margin-bottom: 10px;
  list-style-type: none;
}

.nav{
  margin-left: 15px;
  margin-top: 47px;
}

.navbar-nav > li > a{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 6%;
  width: 100%;
}
/* forms styling */
.form-control{
  display: inline-block;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.15);
}

div.form-inline {
  margin-left: 0px;
  margin-top:  -9px;
  width: 300px;
  padding-top: 3%;
  padding-bottom: 3%;
}

label{
  max-width: 40%;
  margin-left: 5px;
}

// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.author-personal-info-form{
  margin-top: -14%;
  margin-left: 30%;

}

#profile_about_me{
  height: 200px;
  width: 300px;
  margin-top: 2%;
  margin-left: 1%;
}

#DOB-container{
  margin-top: 26%;
  margin-left:  1%;
}

#profile_nationality,#profile_first_name,#profile_last_name, #profile_sexe{
  height: 50px;
  border-radius: 0px;
  width: 200px
}

div#profile-page-form{
  padding-left: 10%;
  padding-top:  5%;
}

input#profile_submit{
  margin-top: 2%;
  margin-left: 76%;
}

div#profile-location-form{
  margin-left: 30%;
}




/* Capsule form && MindMap */
form#mindmap.form-inline{
  margin-left: 70%;
  margin-top: -20%;
}

ul#capsule-form-input li{
  margin-bottom:  10px;
  margin-left: 40%;
  margin-left: 3%;
  margin-right: 3%;
}

input#capsule_title {
  height: 50px;
  width:  100%;
  padding-left: 3%;
}

textarea#capsule_about, textarea#capsule_purpose {
  height: 200px;
  width: 100%;
}

select#capsule_profile_id{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}

ul#capsule-form-input{
  padding: 2% 2% 2% 2%;
}

textarea#mindmap_src_purpose{
  height: 140px;
  width: 210px;
  margin-top:  -3%;
  margin-bottom: -2%;
}

input#mindmap_src{
  margin-left: 12%;
}

select#mindmap_capsule_id{
  margin-left: 12%;
  margin-top: -3%;
}

select#mindmap_profile_id{
  margin-top: -5%;
  margin-left: 12%;
}

div#mindmap-container{
  padding-top: 1%;
  padding-bottom: 1%;
}

input#profile_zipcode{
  height: 50px;
  width: 90%;
}

input#profile_state{
  height: 50px;
  width: 90%;
}
.mindmap-container{
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 7%;
}


/* Capsule show page UI */
div#capsule-show-purpose{
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 56%;
  margin-left: -98%;
  width: 99%;
  text-align: justify;
}

div#capsule-show-about{
  padding-top: 3%;
  padding-bottom: 3%;
  width: 98%;
  text-align: justify;
}

div#capsule-show-container{
  padding-top: 1%;
  padding-bottom: 1%;
  width: 42%;
  height: 520px;
}

div#progression-picture-capsule{
  width: 644px;
  margin-left: -62%;
  margin-top: 2%;
  height: 78px;
}

div#capsule-show-container-master{
  padding-top: 2%;
  padding-left: 4%;
  padding-bottom: 8%;
  margin-left: 10%;
  margin-top: 1%;
}
